@charset "utf-8";


a:link.t11 {   font-size:11px; line-height:14px;  color:#666666; text-decoration: none}
a:visited.t11 {   font-size:11px; line-height:14px;  color: #666666; text-decoration: none}
a:active.t11 {    font-size:11px; line-height:14px;  color: #245285; text-decoration: underline}
a:hover.t11 {    font-size:11px; line-height:14px;  color: #245285; text-decoration: underline}
input.none{font-size: 12px; BACKGROUND-COLOR:#FFFFFF; COLOR:#000000; BORDER:0 solid #999704;}
input.search{font-size: 12px; BACKGROUND-COLOR:#FFFFFF; COLOR:#000000; height:19px; width:95px; border:1px solid #ADADAD;}
select.search{font-size: 10px; BACKGROUND-COLOR:#FFFFFF; COLOR:#000000; height:19px; width:145px; border:1px solid #ADADAD;}

select.bottom { width:180px;height:15px;font-size:8pt;border:1px solid #ADADAD;}

li{ list-style-type:none; }

div, p, ul, li, img, a, td, tr, h1, h2, h3, h4, h5, h6, form, input, span, iframe{
	margin: 0px;
	 padding: 0px;
	 font-family:  "돋움", "돋움체";
	 font-size:12px;
 }


.wrap{
	position:relative;
	width:641px;
	height:595px;
	border:solid 6px #9da6b1;
	margin:50px auto;
}

.sso_title{
	margin-top:29px;
	margin-left:57px;
}
.sso_slogan{
	margin-top:8px;
	margin-left:57px;
}
.wrap .box_area{
	position:absolute;
	width:531px;
	height:400px;
	background-color:#fafafa;
	border-top:solid 1px #d4d4d4;
	border-bottom:solid 1px #d4d4d4;
	bottom:48px;
	left:55px;
	padding-left:0px;
	padding-top:0px;
}
.wrap .box_area .inner_container{
	padding:35px 35px;
	/* border:1px solid #333; */
}
.bt_list{
	display:inline;
	width:160px;
	height:60px;
}


.bt_list > .btn_image{
	margin:3px 8px;
}
.bt_list > #last{
	
}

.sub_tit1{
	font-size:14px;
	color:#1a8999;
	font-weight:bold;
}

.line{
	margin-top:10px;
}

.line2{

	position:absolute;
	top:169px;

}

.line3{
	margin-top:70px;
}


.sub1_txt{
	margin:25px 0 25px 15px;
	color:#616971;
}
.sub2_txt{
	width:1000px;
	height:100px;
	text-align:center;
	position:relative;
	margin-left:-310px;
	margin-top:465px;
	left:50%;
}
.sub3_txt{
	width:1000px;
	height:100px;
	position:relative;
	margin-left:-180px;
	margin-top:-80px;
	left:50%;
}

.bt_login1{
	position:absolute;
	top:88px;
	left:354px;
}

.sub_tit2{
	font-size:14px;
	color:#3582b2;
	font-weight:bold;
	position:absolute;
	bottom:195px;
}

.sub_tit3{
	font-size:15px;
	color:#3582b2;
	font-weight:bold;
	position:absolute;
	bottom:150px;
}
.sub_tit4{
	font-size:15px;
	color:#1a8999;
	font-weight:bold;
}



.INPUT_TXT{
	margin-top:1px; width:263px; height:25px;
	border: solid 1px #a2a2a2;
	position:absolute;
	bottom:160px;
	font-size:15px;
	padding-top:5px;
}

.input_pw{
	margin-top:7px; width:263px; height:25px; border:solid 1px #a2a2a2;
	position:absolute;
	bottom:123px;
	font-size:15px;
	padding-top:5px;
}
.sub_tit5{
	font-size:14px;
	color:#3582b2;
	font-weight:bold;
	position:absolute;
	bottom:275px;
}
.INPUT_TXT2{
	margin-top:1px; width:263px; height:25px;
	border: solid 1px #a2a2a2;
	position:absolute;
	bottom:220px;
	font-size:15px;
	padding-top:5px;
}

.input_pw2{
	margin-top:7px; width:263px; height:25px; border:solid 1px #a2a2a2;
	position:absolute;
	bottom:183px;
	font-size:15px;
	padding-top:5px;
}
.bt_login4{
	position:absolute;
	bottom:183px;
	left:354px;
}
.sub1_txt1{
	margin:25px 0 8px 3px;
	color:#616971;
}
.login_input_txt{
	font-size:15px;
	bottom:35px; width:250px; height:25px;
	position: relative;  
}
.stuNum_input_txt{
		font-size:15px;
	margin-top:40px; width:250px; height:25px; position: relative; bottom:40px; 
}
.bt_login2{
	position:absolute;
	bottom:122px;
	left:354px;
}
.bt_login3{
	position:absolute;
	top:140px;
	left:334px;
	
}
.bt_login5{
	position:absolute;
	bottom:70px;
	left:335px;
}
.haksa{
	position:absolute;
	bottom:300px;
	right: 300px;
}
.sub3_tit3{
	font-size:15px;
	color:#3582b2;
	font-weight:bold;
	position:absolute;
	top:25px;
	left:25px;
}
.find_txt{
	margin-top:10px;
	color:#616971;
	position:absolute;
	bottom:19px;
}

.bt_find{
	margin-top:6px;
	border-style:none;
	position:absolute;
	bottom:10px;
}
.bt_assign{
	
}
.bt_ecampus{
	
}
.bt_home{
	
}
.bt_internethaksa{
	
}
.bt_libincheonan{
	
}
.bt_libinseoul{
	
}

